# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.
pool:
    # The 'windows-2019' and 'vs20xx-windows' vmImages come pre-installed with selenium drivers for common browsers.
    # To use most other vmImages, you'll need to add a step to install these before running yarn test.
    # See https://docs.microsoft.com/en-us/azure/devops/pipelines/test/continuous-test-selenium
    vmImage: 'windows-2019'

steps:
    - task: NodeTool@0
      inputs:
          versionSpec: '10.15.3'
      displayName: use node 10.15.3

    - script: yarn install --frozen-lockfile
      # workingDirectory should match where your package.json file is located. It defaults to the root of the repository.
      workingDirectory: $(Build.SourcesDirectory)/typescript-selenium-webdriver
      displayName: yarn install

    # The 2>&1 is a workaround for facebook/jest#5064 
    - script: yarn test --ci 2>&1
      workingDirectory: $(Build.SourcesDirectory)/typescript-selenium-webdriver
      displayName: yarn test

    - task: PublishTestResults@2
      inputs:
          testResultsFiles: $(Build.SourcesDirectory)/typescript-selenium-webdriver/test-results/junit.xml
          testRunTitle: typescript-selenium-webdriver
      condition: always()
      displayName: publish test results
